/*
** Responsive Grid System of 11 | default margin of 1.6%
*/
.section
	clear both
	padding 0
	margin 0
.col
	display block
	float left
	margin 1% 0 1% 1.6%
	&:first-child
		margin-left 0
	@media all and (max-width: 480px)
		margin 1% 0 1% 0%	

.group:before,
.group:after
	content ""
	display table
.group:after
	clear both
.group
	zoom 1
	
/* Grid of Eleven */
.span_1_of_11
	width 7.636%
	@media all and (max-width: 480px)
		width 100%
.span_2_of_11
	width 16.87%
	@media all and (max-width: 480px)
		width 100%
.span_3_of_11
	width 26.10%
	@media all and (max-width: 480px)
		width 100%
.span_4_of_11
	width 35.34%
	@media all and (max-width: 480px)
		width 100%
.span_5_of_11
	width 44.58%
	@media all and (max-width: 480px)
		width 100%
.span_6_of_11
	width 53.81%
	@media all and (max-width: 480px)
		width 100%
.span_7_of_11
	width 63.05%
	@media all and (max-width: 480px)
		width 100%
.span_8_of_11
	width 72.29%
	@media all and (max-width: 480px)
		width 100%
.span_9_of_11
	width 81.52%
	@media all and (max-width: 480px)
		width 100%
.span_10_of_11
	width 90.76%
	@media all and (max-width: 480px)
		width 100%
.span_11_of_11
	width 100%
	@media all and (max-width: 480px)
		width 100%